# Python
__pycache__/
*.pyc

# Entorno
.env
.venv/
drive_credentials.json

# Archivos generados
jobs/
img/
HURTAO*/

# Binarios pesados
*.pdf
*.jpg
*.jpeg
*.png

# Archivos de salida locales
resultado_legajo.json
resumen_clinico.txt
